<div class="main-div">
  <h1>Itt regisztrálhatsz</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="username">Felhasználónév: </mat-label>
      <input matInput title="username" type="text" formControlName="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="email">Email cím: </mat-label>
      <input matInput title="email" type="text" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">Jelszó: </mat-label>
      <input matInput title="password" type="password" formControlName="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="re_password">Jelszó megismétlése: </mat-label>
      <input matInput title="re_ password" type="password" formControlName="rePassword" />
    </mat-form-field>
    <div>
      <span class="buttons">
        <button mat-raised-button color="primary" type="submit">Regisztráció</button>
      </span>
      <span class="buttons">
        <button mat-raised-button color="primary" type="button" (click)="goBack()">Vissza</button>
      </span>
    </div>
  </form>
</div>
