<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-left" fxHide.xs class="navigation-div">
        <div class="title">Horgász webshop</div>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/main_page">Main page</a></li>
          <li><a routerLink="/cart">Cart</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/webshop">Webshop</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Sign up</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/logout">Logout</a></li>
          <li><a routerLink="/feedback">Feedback</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
