<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxFlex fxLayout fxLayoutAlign="flex-left" class="navigation-div">
        <div class="title">Horgász webshop</div>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li><a routerLink="/main_page">Főoldal</a></li>
          <li><a routerLink="/cart">Kosár</a></li>
          <li><a routerLink="/contact">Elérhetőségek</a></li>
          <li style="background-color: lightgreen"><a routerLink="/webshop">WEBSHOP</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/feedback">Visszajelzés</a></li>
        </ul>
      </div>
      <div class="user-handling-div">
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Regisztráció</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/logout">Kijelentkezés</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
