/* You can add global styles to this file, and also import other style files */

$bgimage: url(assets/fishing-nawpic.jpg);
$bgcolor: lightgrey;

html {
    background-image: $bgimage;
    background-color: $bgcolor;
    background-size: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
