.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: large;
  height: 100%;
}

.text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
